*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  min-height: 534px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 68%;
}

.result__video-container {
  position: relative;
}

.result__video {
  display: block;
  width: 100%;
  min-height: 385px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  width: 31%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  font-weight: 400;
}

.search-form__textfield {
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}

.button {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.more-button {
  width: 100%;
  padding: 6px 0;
  margin-bottom: 2px;
}

.search-form__submit-button {
  padding: 6px 73px;
  margin-top: 20px;
}

.content__details {
  width: 35%;
}

.title {
  padding-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: auto;
  height: 298px;
}

.content__video-card {
  display: flex;
  min-width: 398px;
  min-height: 107px;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 51%;
}

.content__video-card-title {
  line-height: 100%;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.content__video-card-thumbnail {
  width: 49%;
  min-height: 98px;
  object-fit: cover;
}

.search-form__label:focus-within,
.search-form__textfield:focus,
.button:focus,
.content__list-item:focus-within {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover,
.button:hover,
.content__video-card-description:hover {
  cursor: pointer;
}

.search-form__textfield:active {
  border-top: none;
  border-bottom: none;
}

.button:active,
.content__video-card-description-container:active {
  background-color: #545050;
}
